.main-nav {
    background-color: rgba(255, 255, 255, 0.952);
    display: flex;
    align-items: center;
    padding: 0px 48px;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
  
  .main-nav .nav-list {
    margin-left: auto;
    display: flex;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    color: #6b6b6b;
  }
  
  .main-nav .nav-list li:not(:last-child) {
    margin-right: 20px;
  }
  
  .nav-list .active {
    color: rgb(1, 0, 84);
  }
  
  .logo {
    cursor: pointer;
    letter-spacing: -1px;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-nav {
      padding: 0px 30px;
      height: 12vh;
      flex-direction: column;
      justify-content: center;
    }

    .logo {
        cursor: pointer;
        letter-spacing: -1px;
        margin: 5px 0px;
    }

    .main-nav .nav-list {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    
  }