.home-container {
    margin: auto;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-container > :first-child {
    margin-bottom: 10px;
}

.home-container > p {
    font-size: 1.7rem;
}

.home-container > p:first-of-type {
    font-size: 1.3rem;
}

.profile {
    border-radius: 50%;
    width: 30rem;
    margin: 30px;
}

.profile:hover {
    filter: blur(40px) grayscale(40%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .home-container {
        height: 100%;
        width: 70vw;
        text-align: justify;
    }

    .home-container > p:first-of-type,
    .home-container h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    
}