.projects-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 67vh;
    flex-wrap: wrap;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.project-page > *:not(img) {
    margin-bottom: 20px;
}

.project-page > img {
    max-width: 80%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 50px -9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project-page .team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-page .team .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.project-page .team .infos:not(:last-child) {
    margin-right: 15px;
}

.project-page .team .profil-pic {
    width: 4rem;
    border-radius: 50%;
}

.project-page .team span:hover {
    color: rgb(255, 153, 0);
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 350px; 
    min-height: 500px;
    max-height: 800px;
    padding: 20px;  
    margin-bottom: 20px; 
    transition: transform 0.4s;
}

.project-card:hover {
    border-radius: 30px;
    transform: scale(1.05);
    box-shadow: 0px 0px 50px -9px rgba(0, 0, 0, 0.1);
}

.project-card > p,
.project-page p
 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.project-card > h1 {
    color: rgb(1, 0, 84);
    margin-bottom: 10px;
}

.project-card .stack {
    margin-bottom: 10px;
}

.project-card .tag,
.project-page .tag {
    font-size: .9rem;
}

.project-card .tag:not(:last-child) {
    margin-right: 10px;
}

.project-pic {
    border-radius: 50%;
    max-width: 85%; 
}

.cta-btn {
    border: none;
    font-size: 14px;
    border-radius: 15px;
    min-width: 150px;
    height: 45px;
    transition: all 0.25s;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .cta-btn:hover {
    transform: translateY(5px);
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .project-page .project-header {
        margin-bottom: 1rem;
    }
    
  }